@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <center><h1>Agenda</h1></center>
    <div class="col-md-6">
        <center><h2>Contactos</h2>
            <img src="~/Imagenes/telefono.png" alt="" width="150"/>
        <a href="~/Contacto/" class="btn" style="background:#003e73; color:white;">Ir a Contactos</a></center>
    </div>
    <div class="col-md-6">
        <center><h2>Eventos</h2>
            <img src="~/Imagenes/calendario.png" alt="" width="150"/>
        <a href="~/Evento/" class="btn" style="background:#003e73; color:white;">Ir a Eventos</a></center>
    </div>
</div>